mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			.text-center.text-white
				h1.strong Билет на Brand Analytics Conference 2023
			+form-wrap
				.panel-block
					h2 Список участников
					.table-wrap
						table
							thead
								tr
									th Участник
									th Промокод
									th Стоимость
									
							tbody
								tr
									td Чехов А.П.
									td BAFOS21
									td 9 500 руб
							tfoot
								tr
									td(colspan="3") Итого к оплате: 9 500 руб
					+e.total
						.row
							.col-md-auto.col-sm-6
								button.btn.btn-secondary(type="button") Добавить участника
							.col-md-auto.col-sm-6
								button.btn.btn-primary(type="button") Оплатить
							.col-lg.col-sm-6.order-md-first
								button.btn.btn-outline-secondary(type="button") Сбросить заказ
				.panel-block
					h2 Добавить участника
					+e.row.row.row--lg
						+e.col.col-xl-4.col-lg-6
							+input("",'text',`Фамилия <span>*</span>`) 
						+e.col.col-xl-4.col-lg-6
							+input("",'text',`Компания <span>*</span>`) 
						+e.col.col-xl-4.col-lg-6
							+input("",'email',`E-mail <span>*</span>`) 
						+e.col.col-xl-4.col-lg-6
							+input("",'text',`Имя <span>*</span>`) 
						+e.col.col-xl-4.col-lg-6
							+input("",'tel',`Телефон <span>*</span>`) 
						+e.col.col-xl-4.col-lg-6
							+input("",'text',`Фамилия <span>*</span>`) 
						+e.col.col-xl-4.col-lg-6
							+input("",'text',`Отчество `) 
						+e.col.col-xl-4.col-lg-6
							+input("",'url',` Сайт компании`) 
						+e.col.col-xl-4.col-lg-6
							+input("",'text',`Промокод `) 
						+e.col.col-12
							+policy
						+e.col.col-xl-4.col-sm-6.order-lg-0.order-last.align-self-end
							button.btn.btn-outline-secondary(type="button") Сбросить заказ
						+e.col.colplg
							+e.block
								.row
									.col
										.small Стоимость билета
										.row
											.col-auto.h2 10 000 ₽
											.col-auto.small в т.ч. НДС 20%
									.col-md-auto.col-sm-4.align-self-end
										+e.btn.btn.btn-primary(type="submit") Добавить
						
	// end sForm